<form action="/create_occupation_from_organization" method="post">

  <div class="form-group">
    <label for="user_id">
      User
    </label>

    <%= select_tag(:user_id, options_from_collection_for_select(User.all, :id, :created_at, @occupation.user_id), :class => "form-control") %>
  </div>

  <input type="hidden" name="organization_id" value="<%= @organization.id %>">

  <div class="form-group">
    <label for="role">
      Role
    </label>

    <input type="text" id="role" name="role" class="form-control" value="<%= @occupation.role %>">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create occupation
  </button>
</form>
