<form action="/create_assignment_from_matter" method="post">

  <div class="form-group">
    <label for="role">
      Role
    </label>

    <input type="text" id="role" name="role" class="form-control" value="<%= @assignment.role %>">
  </div>

  <input type="hidden" name="user_id" value="<%= current_user.id %>">

  <input type="hidden" name="matter_id" value="<%= @matter.id %>">

  <div class="form-group">
    <label for="organization_id">
      Organization
    </label>

    <%= select_tag(:organization_id, options_from_collection_for_select(Organization.all, :id, :name, @assignment.organization_id), :class => "form-control") %>
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create assignment
  </button>
</form>
