<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Matter Joins

    <a data-toggle="collapse" href="#matter_matter_joins_new_form">
      Add assignment
    </a>
  </div>

  <ul class="list-group list-group-flush">
    <% @matter.matter_joins.each do |assignment| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <a href="/assignments/<%= assignment.id %>">
          <%= assignment.role %>
        </a>

        <%if current_user == assignment.user %>
          <a href="/delete_assignment_from_matter/<%= assignment.id %>">
            Delete
          </a>
        <% end %>

      </li>
    <% end %>

    <div class="card-footer">
      <div class="collapse" id="matter_matter_joins_new_form">
        <%= render partial: "matter_templates/matter_matter_joins_new_form" %>
      </div>
    </div>

  </ul>
</div>
